<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- === LOGGING PATTERN === -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>

    <!-- === CONSOLE APPENDER === -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/awesome-pizza.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/awesome-pizza.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- === ROOT LOGGER === -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- === SPRING / HIBERNATE NOISE REDUCTION === -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate.SQL" level="INFO"/>
    <logger name="org.hibernate.type.descriptor.sql" level="WARN"/>

</configuration>
